<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="File" fileName="app-info.log" filePattern="app-info-%d{yyyy-MM-dd-hh-mm}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile >
    </Appenders>
    <Loggers>
        <Logger name="com.plasticgeorge.tcpscaner" level="DEBUG">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.plasticgeorge.tcpscaner" level="INFO">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>